In [1]:
import findspark
findspark.init()
print("This is  a test program")

This is  a test program

In [2]:
from pyspark import SparkConf,SparkContext
from pyspark.sql import SQLContext

import random
conf=SparkConf().setMaster("local").setAppName("SparkContext_Case2")
sc=SparkContext.getOrCreate(conf=conf)
print(sc)
sql_context=SQLContext(sc)
print(sql_context)
df=sql_context.read.csv('/opt/sparktest/SwimmerAnalysis.csv',header=True,inferSchema=True)
print("Show eight roles of table")
df.show(8)

print("Selecting swimTimeInSecond")
swimmerDF=df.select("swimTimeInSecond")
swimmerDF.show(6)

print("Selecting id and swimmerSpeed Column")
swimmerDF1=df.select("id","swimmerSpeed")
swimmerDF1.show(9)

print("Multiply swimmerSpeed column by 2")
swimmerDF2=df.select("id",df.swimmerSpeed*2)
swimmerDF2.show(5)

print("Selecting records where gender column is Male")
swimmerDF3=df.filter(df.Gender=='Male')
swimmerDF3.show()

print("Selecting records where gender is Male and occupation is Programmer")
swimmerDF4=df.filter((df.Gender=='Male')&(df.Occupation=='Programmer'))
swimmerDF4.show()

print("Selecting records where Occupation is Programmer and swimmerSpeed > 1.271")
swimmerDF5=df.filter((df.Occupation=='Programmer')&(df.swimmerSpeed>1.271))
swimmerDF5.show()


#df.printSchema()
#df.limit(5).toPandas()
sc.stop()

<SparkContext master=local[*] appName=PySparkShell>
<pyspark.sql.context.SQLContext object at 0x7fc25ecb2160>
Show eight roles of table
+---+------+-----------+----------------+------------+
| id|Gender| Occupation|swimTimeInSecond|swimmerSpeed|
+---+------+-----------+----------------+------------+
|id1|  Male| Programmer|           16.73|       1.195|
|id2|Female|    Manager|           15.56|       1.285|
|id3|  Male|    Manager|           15.15|        1.32|
|id4|  Male|RiskAnalyst|           15.27|        1.31|
|id5|  Male| Programmer|           15.65|       1.278|
|id6|  Male|RiskAnalyst|           15.74|       1.271|
|id7|Female| Programmer|            16.8|        1.19|
|id8|  Male|    Manager|           17.11|       1.169|
+---+------+-----------+----------------+------------+
only showing top 8 rows

Selecting swimTimeInSecond
+----------------+
|swimTimeInSecond|
+----------------+
|           16.73|
|           15.56|
|           15.15|
|           15.27|
|           15.65|
|           15.74|
+----------------+
only showing top 6 rows

Selecting id and swimmerSpeed Column
+---+------------+
| id|swimmerSpeed|
+---+------------+
|id1|       1.195|
|id2|       1.285|
|id3|        1.32|
|id4|        1.31|
|id5|       1.278|
|id6|       1.271|
|id7|        1.19|
|id8|       1.169|
|id9|       1.188|
+---+------------+
only showing top 9 rows

Multiply swimmerSpeed column by 2
+---+------------------+
| id|(swimmerSpeed * 2)|
+---+------------------+
|id1|              2.39|
|id2|              2.57|
|id3|              2.64|
|id4|              2.62|
|id5|             2.556|
+---+------------------+
only showing top 5 rows

Selecting records where gender column is Male
+----+------+-----------+----------------+------------+
|  id|Gender| Occupation|swimTimeInSecond|swimmerSpeed|
+----+------+-----------+----------------+------------+
| id1|  Male| Programmer|           16.73|       1.195|
| id3|  Male|    Manager|           15.15|        1.32|
| id4|  Male|RiskAnalyst|           15.27|        1.31|
| id5|  Male| Programmer|           15.65|       1.278|
| id6|  Male|RiskAnalyst|           15.74|       1.271|
| id8|  Male|    Manager|           17.11|       1.169|
|id11|  Male| Programmer|           15.96|       1.253|
+----+------+-----------+----------------+------------+

Selecting records where gender is Male and occupation is Programmer
+----+------+----------+----------------+------------+
|  id|Gender|Occupation|swimTimeInSecond|swimmerSpeed|
+----+------+----------+----------------+------------+
| id1|  Male|Programmer|           16.73|       1.195|
| id5|  Male|Programmer|           15.65|       1.278|
|id11|  Male|Programmer|           15.96|       1.253|
+----+------+----------+----------------+------------+

Selecting records where Occupation is Programmer and swimmerSpeed > 1.271
+---+------+----------+----------------+------------+
| id|Gender|Occupation|swimTimeInSecond|swimmerSpeed|
+---+------+----------+----------------+------------+
|id5|  Male|Programmer|           15.65|       1.278|
+---+------+----------+----------------+------------+